    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-cell footer-margin">
                <a href="{{ "projects" | relURL }}" class="Button Button--large">Explore Projects</a>
            </div>
            <div class="footer-cell footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" rel="noopener" href="https://about.twitter.com/">About</a>
                </h3>
            </div>

            <div class="footer-cell footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" rel="noopener" href="https://blog.twitter.com/">Blogs</a>
                </h3>
            </div>

            <div class="footer-cell footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" rel="noopener" href="https://developer.twitter.com/">Developers</a>
                </h3>
            </div>


        </div>
    </div> <!-- End of Footer -->

